<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.faiveley.samng.principal.ihm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveAccueil"
            id="SAMNG.perspectiveAccueil"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGTL"
            id="SAMNG.perspectiveGTL"
            name="%perspective.name.2">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGT"
            id="SAMNG.perspectiveGT"
            name="%perspective.name.3">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGL"
            id="SAMNG.perspectiveGL"
            name="%perspective.name.4">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveLM"
            id="SAMNG.perspectiveLM"
            name="%perspective.name.5">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGALT"
            id="SAMNG.perspectiveGALT"
            name="P316">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGM"
            id="SAMNG.perspectiveGM"
            name="%perspective.name.6">
      </perspective>
      <perspective
            class="com.faiveley.samng.principal.ihm.perspectives.PerspectiveGestionDesMissions"
            id="SAMNG.perspectiveMission"
            name="%Pmissions">
      </perspective>
   </extension>
  

  
   <extension
         point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               class="com.faiveley.samng.principal.ihm.vues.vuedefauts.VueDefauts"
               icon="icons/menu/appli_vue_anomalies.png"
               id="SAMNG_Framework.Logger.Viewer"
               name="%view.name.0"/>
         <view
               class="com.faiveley.samng.principal.ihm.vues.vuescorrections.VueCorrectionsTemps"
               id="SAM.Vue.TimeCorrections"
               name="%view.name.1"/>
         <view
               class="com.faiveley.samng.principal.ihm.vues.vuescorrections.VueCorrectionsDistance"
               id="SAM.Vue.DistanceCorrections"
               name="%view.name.2"/>
         <view
               allowMultiple="false"
               class="com.faiveley.samng.principal.ihm.vues.vuemarqueurs.VueMarqueursDeltaValues"
               id="SAMNG.Vue.Markers.VueMarqueursDeltaValues"
               name="%view.name.3"/>
         <view
               allowMultiple="false"
               class="com.faiveley.samng.principal.ihm.vues.vuemarqueurs.VueMarqueurs"
               icon="icons/menu/appli_vue_annotations.png"
               id="SAMNG.Vue.Markers.VueMarqueurs"
               name="%view.name.4"/>
         <category
               id="SAMNG_Framework.DataViewsCategory"
               name="%category.name.0"/>
         <view
               class="com.faiveley.samng.principal.ihm.vues.vuesvbv.VueVbvs"
               id="SAMNG.Vue.VBV.VueVirtualBooleanVariables"
               name="%view.name.5"/>
         <category
               id="SAMNG_Framework.FiltresCategory"
               name="%category.name.1"/>
         <view
               allowMultiple="false"
               class="com.faiveley.samng.principal.ihm.vues.vueinfosparcours.VueInfosParcours"
               icon="icons/menu/appli_vue_info_parcours.png"
               id="SAMNG_Framework.VueInfosParcours"
               name="%view.name.6"/>
   </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="SAMNG.application"
          
          name="SAM5">
       <property
             name="windowImages"
             value="icons/SAM_NG_wind16.png,icons/SAM_NG_wind32.png,icons/SAM_NG_wind48.png,icons/SAM_NG_wind64.png,icons/SAM_NG_wind128.png"/>
       <property
             name="aboutImage"
             value="apropos.gif"/>
       <property
             name="appName"
             value="SAM5">
       </property>
       <property
             name="startupProgressRect"
             value="270,266,100,12"/>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
       <property
             name="startupMessageRect"
             value="10,262,250,20">
       </property>
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>

    </product>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menu
          id="SAMNG.Menu.Search"
          label="Search"/>
    <item
          commandId="SAMNG_Framework.item1"
          id="SAMNG_Framework.item1"
          menuId="SAMNG.Menu.Search"/>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="SAMNG_Framework.actionSet1"
          label="%actionSet.label.0">
       <menu
             id="SAMNG_Framework.menu1"
             label="%menu.label.0"
             path="Edition/addtions"/>
    </actionSet>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.faiveley.samng.principal.ihm.preferences.LanguagePreferencePage"
          id="samng.preferences.LanguagePreferencePage"
          name="%page.name.0"/>
    <page
          class="com.faiveley.samng.principal.ihm.preferences.SynchronizationPreferencePage"
          id="samng.preferences.SynchronizationPreferencePage"
          name="%page.name.1">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="com.faiveley.samng.principal.ihm.preferences.PreferenceInitializer"/>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="SAMNG_Framework.fichier"
          name="%category.name.2"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="%command.description.0"
          id="SAMNG.openMessage"
          name="%command.name.0"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="%command.description.1"
          id="SAMNG.closeMessage"
          name="%command.name.1"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="%command.description.2"
          id="SAMNG.savesAnnotations"
          name="%command.name.2"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Call Help"
          id="SAMNG.help"
          name="Help"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Open a File"
          id="SAMNG.open"
          name="Open"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Quit Message"
          id="SAMNG.quitMessage"
          name="QuitMessage"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="View Infos Parcours"
          id="SAMNG.viewInfosParcours"
          name="ViewInfosParcours"/>
    <command
          description="View Errors Message"
          id="SAMNG.viewErrorsMessage"
          name="ViewErrorsMessage"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Export a File"
          id="SAMNG.exportFile"
          name="ExportFile"/>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Multiple Export File"
          id="SAMNG.multipleExportFile"
          name="MultipleExportFile"/>
    <command
          description="Reference Zero"
          id="SAMNG.setZeroRef"
          name="SetZeroRef">
    </command>
    <command
          description="Print View Message"
          id="SAMNG.printViewMessage"
          name="PrintViewMessage">
    </command>
    <command
          description="Capture View Message"
          id="SAMNG.captureViewMessage"
          name="captureViewMessage">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Import a profil"
          id="SAMNG.importProfil"
          name="%command.name.3">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Collapse"
          id="SAMNG.collapse"
          name="Collapse">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Expand"
          id="SAMNG.expand"
          name="Expand">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="saveRapportDefauts"
          id="SAMNG.saveRapportDefauts"
          name="saveRapportDefauts">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="timeAbscisse"
          id="SAMNG.timeAbscisse"
          name="timeAbscisse">
    </command>
    <command
          categoryId="SAMNG_Framework.fichier"
          description="Impression Ecran"
          id="SAMNG.printViewScreen"
          name="%command.print">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="SAMNG.openMessage"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+O"/>
    <key
          commandId="SAMNG.importProfil"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+I"/>
    <key
          commandId="SAMNG.closeMessage"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+F"/>
    <key
          commandId="SAMNG.savesAnnotations"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+E"/>
    <key
          commandId="org.eclipse.ui.file.exit"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+X"/>
          
     <key
            sequence="M1+N"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
     <key
            commandId="org.eclipse.ui.newWizard"
            sequence="CTRL+T CTRL+Z"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
     <key
           commandId="SAMNG.printViewScreen"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+P">
     </key>
     <scheme
           description="dsqdqsd"
           id="myscheme"
           name="myscheme"
           parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
     </scheme> 
            
 </extension>
	
</plugin>
