<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="SAMNG_Framework.DataViewsCategory"
            class="com.faiveley.samng.vueliste.ihm.vues.vueliste.e4.VueListe"
            icon="icons/menu/appli_vue_liste.png"
            id="SAMNG.Vue.Liste.e4"
            name="%data_view_descr">
      </view>
      <view
            allowMultiple="false"
            category="SAMNG_Framework.FiltresCategory"
            class="com.faiveley.samng.vueliste.ihm.vues.vuefiltre.e4.VueListeFiltre"
            fastViewWidthRatio="0.75"
            icon="icons/vueListe/vue_liste_filtre.png"
            id="SAMNG.Vue.Filtre.VueListeFiltre.e4"
            name="%data_list_filter_view_descr">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.faiveley.samng.vueliste.ihm.perspectives.PerspectiveVueListe"
            id="VueListePlugin.perspectiveVueListe"
            name="%perspective.name.0">
      </perspective>
   </extension>

</plugin>
