<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2018-09" sequenceNumber="1642071155">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.9.0.v20180906-1121"/>
      <unit id="org.eclipse.ui.workbench" version="3.112.0.v20180906-1121"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.6.0.v20180706-1146"/>
      <unit id="org.eclipse.ui.cheatsheets" version="3.5.300.v20180823-1505"/>
      <unit id="org.eclipse.help.ui" version="4.1.200.v20180821-0700"/>
      <unit id="org.eclipse.compare" version="3.7.300.v20180827-1041"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.4.800.v20180829-0645"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.100.v20180827-1352"/>
      <unit id="org.eclipse.equinox.ds" version="1.5.200.v20180827-1235"/>
      <repository location="http://download.eclipse.org/releases/2018-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_nl.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_pt.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_tr.feature.group" version="4.8.0.v20180815020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_zh.feature.group" version="4.8.0.v20180815020001"/>
      <repository location="https://archive.eclipse.org/technology/babel/update-site/R0.16.0/photon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="javax.annotation" version="1.2.0.v201602091430"/>
      <unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
      <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="11.0.13.v20211116-1829"/>
      <repository id="jre11" location="https://download.eclipse.org/justj/jres/11/updates/release/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20200923-1237"/>
      <repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.9"/>
    </location>
  </locations>
</target>
