<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2021-09" sequenceNumber="1647332894">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.21.0.v20210906-0842"/>
      <unit id="org.eclipse.ui.workbench" version="3.123.0.v20210817-0704"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.7.0.v20190323-1059"/>
      <unit id="org.eclipse.help.ui" version="4.3.100.v20210619-0925"/>
      <unit id="org.eclipse.compare" version="3.8.100.v20210805-1512"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.6.100.v20210708-1502"/>
      <unit id="org.eclipse.equinox.ds" version="1.6.100.v20191001-1333"/>
      <repository location="http://download.eclipse.org/releases/2021-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_nl.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_pt.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_tr.feature.group" version="4.21.0.v20210925020001"/>
      <unit id="org.eclipse.babel.nls_eclipse_zh.feature.group" version="4.21.0.v20210925020001"/>
      <repository location="https://archive.eclipse.org/technology/babel/update-site/R0.19.1/2021-09/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210825222808/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="11.0.14.v20220201-1322"/>
      <repository id="jre11" location="https://download.eclipse.org/justj/jres/11/updates/release/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20200923-1237"/>
      <repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.100.v20210830-0925"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.21"/>
    </location>
  </locations>
</target>
