<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<view
            allowMultiple="false"
            category="SAMNG_Framework.DataViewsCategory"
            class="com.faiveley.samng.vuemultimedia.ihm.vues.vuemultimedia.VueMultimedia"
            icon="icons/menu/appli_vue_multimedia.png"
            id="SAMNG.Vue.Multimedia"
            name="%data_view_descr">
		</view>
	</extension>
	<extension
	         point="org.eclipse.ui.perspectives">
	      <perspective
	            class="com.faiveley.samng.vuemultimedia.ihm.perspectives.PerspectiveVueMultimedia"
	            id="VueMultimediaPlugin.perspectiveVueMultimedia"
	            name="%perspective.name.0"/>
	</extension>
	<extension point="org.eclipse.ui.activities">  
		<activity id="multimedia" name="Multimedia">
		</activity>
		<activityPatternBinding
			activityId="multimedia"
			pattern="VueMultimediaPlugin/VueMultimediaPlugin.perspectiveVueMultimedia">
	  </activityPatternBinding>
	</extension>
</plugin>
